<section>
  <mat-list>
    <mat-form-field class="example-form" style="margin: 3%">

      <form class="example-full-width">
        <input matInput placeholder="TO DO" type="text" 
        [(ngModel)]="new_Text"
        [ngModelOptions]="{standalone: true}" >
      </form>

      <!-- [value]="new_Text"  -->
      <!-- (keyup.enter)="addtodo()"> -->
      <!-- (input)="newTextChanged(todoInput.value)"  TAMBIEN SIRVE PARA AL DAR CLICK MUESTRE EL VALOR DEL INPUT CON LA FUNCION EN TS -->
    </mat-form-field>
    <button mat-icon-button color="primary" type="submit" (click)="addtodo()">Add</button>
    <mat-divider></mat-divider>

    <p mat-subheader>TO DO LIST</p>

  </mat-list>

  <mat-selection-list *ngFor="let item of list_Text; let i = index" style="margin: 5%">
    <mat-list-option>
      {{i}}
      {{item}}
    </mat-list-option>
    <!-- <i  ng-mouseenter="expression" style="margin-left: 94%" (click)="deleteItem(i)" class="material-icons md-48">delete_forever</i> -->
      
    <button style="margin-left: 93%" (click)="deleteItem(i)">
      <i class="material-icons md-48">delete_forever</i>
    </button>
  </mat-selection-list>
          
</section>
